name: Artifacts
on: [pull_request]
jobs:
  test:
    strategy:
      matrix:
        arch: [x86_64]
        os: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4
      - uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.12.0
      - run: |
          zig build ci --summary all
      - if: ${{ matrix.os == 'ubuntu-latest'  }}
        uses: actions/upload-artifact@v4
        with:
          name: zigup-archives
          path: |
            zig-out/zigup-x86_64-linux.tar.gz
            zig-out/zigup-x86_64-macos.tar.gz
            zig-out/zigup-x86_64-windows.zip
            zig-out/zigup-aarch64-linux.tar.gz
            zig-out/zigup-aarch64-macos.tar.gz
